<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <!-- =========================================
    head
    ========================================== -->
    <head>


        <!-- =========================================
        Basic
        ========================================== -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>YOUR AVMA PLIT</title>
        <meta name="keywords" content="AVMA, PLIT, CSS3, vetrinarians, insurance" />
        <meta name="author" content="AVMA PLIT" />
        <meta name="robots" content="index follow" />
        <meta name="description" content="AVMA PLIT. Protecting you through it all.Welcome to our new look. " />

        <!-- =========================================
        Mobile Configurations
        ========================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="GOOGLEBOT" content="index follow" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- =========================================
        fav & icons for iPhone and iPad
        ========================================== -->
        <link rel="shortcut icon" href="images/icons/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" href="images/icons/icon.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icons/icon@2x.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icons/icon-72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icons/icon-72@2x.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/icons/icon-60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/icons/icon-60@2x.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/icons/icon-76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/icons/icon-76@2x.png" />

        <!-- =========================================
        Adobe Typekit
        ========================================== -->
        <script src="//use.typekit.net/sub2deb.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <!-- =========================================
        CSS
        ========================================== -->
        <link rel="stylesheet" media="screen" href="css/bootstrap.min.css" />
        <link rel="stylesheet" media="screen" href="css/style.css" />


        <!-- =========================================
        Head Libs
        ========================================== -->
        <script type="text/javascript" src="js/vendor/modernizr.custom.js"></script>


    </head><!-- /head -->




    <!-- =========================================
    body
    ========================================== -->
    <body class="video-background">




        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->




        <!-- =========================================
        Loader
        ========================================== -->
        <div id="loader">
            <div id="loader-container">
                <img src="images/loader.gif" alt="Loader" />
            </div>
        </div>




        <!-- =========================================
        Menu
        ========================================== -->
        <!-- nav-wrapper -->
        <nav id="nav-wrapper">
            <!-- navbar -->
            <div class="navbar">

                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">

                        <!-- col-md-12 -->
                        <div class="col-md-12">

                            <!-- navbar-header -->
                            <div class="navbar-header">

                                <!-- Mobile Menu -->
                                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <i class="fa fa-bars"></i>
                                </button><!-- / mobile Menu -->

                                <!-- logo -->
                                <a href="#home-section" class="navbar-brand" data-scroll title="PaperPlane">
                                    <img src="images/logo-plit.png" alt="Menu Logo" />
                                </a><!-- /logo -->

                            </div><!-- /navbar-header -->

                            <!-- navbar-collapse -->
                            <div class="navbar-collapse collapse">

                                <!-- nav -->
                                <ul class="nav navbar-nav navbar-right">

                                    <!-- About -->
                                    <li>
                                        <a href="#brand-section" title="About" data-scroll class="scrollto">
                                            our brand story
                                        </a>
                                    </li><!-- /About -->

                                    <!-- Services Section -->
                                    <li>
                                        <a href="#clients-section" title="Style Guide" data-scroll class="scrollto">
                                            style guide
                                        </a>
                                    </li><!-- /Services Section -->

                                    <!-- Process -->
                                    <li>
                                        <a href="#services-section" title="Assets" data-scroll class="scrollto">
                                            assets
                                        </a>
                                    </li><!-- /Process -->

                                    <!-- Contact -->
                                    <li>
                                        <a href="#contact-section" title="Contact" data-scroll class="scrollto">
                                            contact
                                        </a>
                                    </li><!-- /Contact -->

                                </ul><!-- /nav -->

                            </div><!-- /navbar-collapse -->

                        </div><!-- /col-md-12 -->

                    </div><!-- /row -->
                </div><!-- /container -->

            </div><!-- /navbar -->
        </nav><!-- /nav-wrapper -->




        <!-- =========================================
        Home Section
        ========================================== -->
        <!-- home-section -->
        <div id="home-section">

            <!-- home-section-overlayer -->
            <div id="home-section-overlayer"></div>

            <!-- owl-home-wrapper -->
            <div id="owl-home-wrapper">

                <!-- owl-home -->
                <div class="owl-home">

                    <!-- container -->
                     <div class="container">
                        <!-- row -->
                        <div class="row">

                                <!-- slide-item -->
                                <div class="slide-item">

                                    <!-- slide-content -->
                                    <div class="slide-content">

                                        <!-- col-md-8 -->
                                         <div class="col-md-8 col-md-offset-2">

                                            <!-- slide-divider-thin -->
                                            <div class="slide-divider-thin"></div>

                                            <!-- slide-title -->
                                            <div class="slide-title">
                                                welcome to our <span class="large-title">new look</span>
                                            </div><!-- /slide-title -->

                                            <!-- slide-desc -->
                                            <div class="slide-desc">
                                                
                                            </div><!-- /slide-desc -->

                                            <!-- slide-divider -->
                                            <div class="slide-divider"></div>

                                        </div><!-- /col-md-8 -->

                                        <!-- col-md-8 -->
                                         <div class="col-md-12">
                                            <!-- slide-desc -->
                                            <div class="slide-tagline">
                                                see how we brought our refreshed brand to life
                                            </div><!-- /slide-desc -->

                                            <!-- slide-button -->
                                            <div class="slide-button">
                                                <a class="btn btn-meduim btn-nesto fancybox-media" href="https://www.youtube.com/watch?v=gkYN33qsHp0?autoplay=1&modestbranding=1&autohide=1&color=white&theme=light">Watch Video</a>
                                            </div><!-- /slide-button -->
                                         </div><!-- col-md-8 -->

                                    </div><!-- /slide-content -->

                                </div><!-- /slide-item -->

                            </div><!-- /col-md-12 -->

                        </div><!-- /row -->
                </div><!-- /container -->
                
                </div><!-- /owl-home -->

            </div><!-- /owl-home-wrapper -->

        </div><!-- /home-section -->

                <!-- =========================================
        Download Section
        ========================================== -->
        <!-- download-section -->
        <div id="download-section">

            <!-- download-section-overlayer -->
            <div id="download-section-overlayer">

            </div><!-- /download-section-overlayer -->

        </div><!-- /download-section -->



        <!-- =========================================
        Brand Story Section
        ========================================== -->
        <!-- brand-section -->
        <div id="brand-section">

            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- col-md-10 -->
                    <div class="col-md-10 col-md-offset-1 wow fadeInLeft" data-wow-duration="1.5s">

                        <!-- short-section-title -->
                        <div class="brand-section-title wow">
                            our brand story
                        </div><!-- /short-section-title -->

                        <!-- section-content -->
                        <div class="section-content" style="margin-top: 10px; margin-bottom: 30px !important ;">
                            In 2014, we embarked on a comprehensive research study to understand the needs of current AVMA PLIT members. Everything we learned from our members culminated in the new AVMA PLIT: <strong><em>Protecting you through it all</em></strong>  initiative. And it’s more than simply a new look. This exciting new initiative will ultimately enhance our members’ understanding of the insurance solutions and resources through comprehensive tools and educational programs that help veterinarians minimize their risk of facing claims and help them better understand their business needs. 


                        </div>
                        <div class="section-content">
                            <em>For more than 50 years we’ve helped protect the reputations of veterinarians at all stages of their careers and helped guide them through tough legal situations and license complaints. AVMA members continue to tell us that the PLIT program is one of the most valuable components of their AVMA membership; we want to build on our success and ensure that our colleagues are aware of the full scope of products and services—from professional liability to business and personal insurance.</em>— Janet Donlin, DVM, AVMA PLIT CEO
                        </div><!-- /section-content -->

                    </div><!-- /col-md-6 -->

                </div><!-- /row -->
            </div><!-- /container -->

        </div><!-- /brand-section -->

        <!-- =========================================
        Style Guide Parallax 
        ========================================== -->
        <!-- download-section -->
        <div id="style-guide-section">

            <!-- download-section-overlayer -->
            <div id="style-guide-section-overlayer">

            </div><!-- /download-section-overlayer -->

        </div><!-- /download-section -->




        <!-- =========================================
        Style Guide Section
        ========================================== -->
        <!-- clients-section -->
        <div id="clients-section">

            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                     <div class="col-md-10 col-md-offset-1 wow fadeInLeft" data-wow-duration="1.5s">

                        <!-- short-section-title -->
                        <div class="style-section-title wow">
                            style guide
                        </div><!-- /short-section-title -->

                        <!-- section-content -->
                        <div class="section-content white" style="margin-top: 10px; margin-bottom: 30px !important ;">
                            The new look of AVMA PLIT contains many components and design elements. For that reason, we have created a comprehensive style guide to help SVMAs maintain a consistent look and tone when producing new AVMA PLIT materials. By downloading the style guide, your team will have an invaluable resource to successfully create any type of communication.
                        </div>

                    </div>

                    <div class="col-md-4 col-md-offset-4 wow fadeInLeft" data-wow-duration="1.5s">

                        <!-- slide-button -->
                            <div class="slide-button">
                                <a href="/downloads/test.zip" title="Watch Now" class="btn btn-meduim btn-nesto">
                                    download
                                </a>
                            </div><!-- /slide-button -->

                    </div>

                </div><!-- /row -->
            </div><!-- /container -->

        </div><!-- /clients-section -->

        <!-- =========================================
        Assets Parallax
        ========================================== -->
        <!-- subscribe-section -->
        <div id="assets-section">

            <!-- subscribe-section-overlayer -->
            <div id="assets-section-overlayer">


            </div><!-- /subscribe-section-overlayer -->

        </div><!-- /subscribe-section -->



        <!-- =========================================
        Services Section
        ========================================== -->
        <!-- services-section -->
        <div id="services-section">

            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- col-md-12 -->
                    <div class="col-md-10 col-md-offset-1 wow fadeInDown" data-wow-duration="1.5s">

                        <!-- section-title -->
                        <div class="assets-section-title wow">
                            assets
                        </div>

                    

                     <!-- section-content -->
                        <div class="section-content" style="margin-top: 10px; margin-bottom: 30px !important ;">
                             Our logo and tagline are available for publishers and news organizations to download and utilize in press materials.</br></br>
                             <strong>SVMA members:</strong> Everything your team will need to build AVMA PLIT-branded materials is available here for you to use as described in the style guide. Please make sure to follow the style guide closely. Doing so, will make it easier for your team to create exciting new AVMA PLIT branded materials just like the ones you’ve seen on this website. A password is required to open photography, templates and typefaces files. <em>Contact us for a password after downloading these files.</em>   
                        </div>
                    </div>

                    <!-- col-md-6 -->
                    <div class="col-md-6 wow fadeInLeft" data-wow-duration="1.5s">

                        <!-- feature-box-style-2 -->
                        <div class="feature-box-style-2">

                            <a href="/downloads/test.zip">
                                <!-- feature-icon -->
                                <div class="feature-icon">
                                    <i class="icon-icon_photo"></i>
                                </div><!-- /feature-icon -->
                            </a>

                            <a href="/downloads/test.zip">
                                <!-- feature-title -->
                                <div class="feature-title">
                                    photography
                                </div><!-- /feature-title -->
                            </a>

                            <!-- feature-content -->
                            <div class="feature-content">
                                The photo library contains a wide range of images that more accurately reflect the veterinary profession and the animals we treat. 
                            </div><!-- /feature-content -->

                        </div><!-- /feature-box-style-2 -->

                    </div><!-- /col-md-6 -->


                    <!-- col-md-6 -->
                    <div class="col-md-6 wow fadeInRight" data-wow-duration="1.5s">

                        <!-- feature-box-style-2 -->
                        <div class="feature-box-style-2">

                             <a href="/downloads/test.zip">
                                <!-- feature-icon -->
                                <div class="feature-icon">
                                    <i class="icon-icon_logos"></i>
                                </div><!-- /feature-icon -->
                            </a>

                             <a href="/downloads/test.zip">
                                <!-- feature-title -->
                                <div class="feature-title">
                                    logos
                                </div><!-- /feature-title -->
                            </a>

                            <!-- feature-content -->
                            <div class="feature-content">
                                Our new logo comes in a variety of colors, sizes and file types. Download the full set and you will always have the right version. 
                            </div><!-- /feature-content -->

                        </div><!-- /feature-box-style-2 -->

                    </div><!-- /col-md-6 -->


                    <!-- col-md-6 -->
                    <div class="col-md-6 wow fadeInLeft" data-wow-duration="1.5s">

                        <!-- feature-box-style-2 -->
                        <div class="feature-box-style-2">

                             <a href="/downloads/test.zip">
                                <!-- feature-icon -->
                                <div class="feature-icon">
                                    <i class="icon-icon_templates"></i>
                                </div><!-- /feature-icon -->
                            </a>

                             <a href="/downloads/test.zip">
                                <!-- feature-title -->
                                <div class="feature-title">
                                    templates
                                </div><!-- /feature-title -->
                            </a>

                            <!-- feature-content -->
                            <div class="feature-content">
                               Powerpoints. Newsletters. Brochures. They all have their own template, customized to each service line. 
                            </div><!-- /feature-content -->

                        </div><!-- /feature-box-style-2 -->

                    </div><!-- /col-md-6 -->


                    <!-- col-md-6 -->
                    <div class="col-md-6 wow fadeInRight" data-wow-duration="1.5s">

                        <!-- feature-box-style-2 -->
                        <div class="feature-box-style-2">

                             <a href="/downloads/test.zip">
                                <!-- feature-icon -->
                                <div class="feature-icon">
                                    <i class="icon-icon_typography"></i>
                                </div><!-- /feature-icon -->
                            </a>

                             <a href="/downloads/test.zip">
                                <!-- feature-title -->
                                <div class="feature-title">
                                    typefaces
                                </div><!-- /feature-title -->
                            </a>

                            <!-- feature-content -->
                            <div class="feature-content">
                                Our brand is made up of three typefaces. Add them to your font library and reference the style guide so you always feature them accurately.
                            </div><!-- /feature-content -->

                        </div><!-- /feature-box-style-2 -->

                    </div><!-- /col-md-6 -->


                </div><!-- /row -->
            </div><!-- /container -->

        </div><!-- /services-section -->


        <!-- =========================================
        Subscribe Section
        ========================================== -->
        <!-- subscribe-section -->
        <div id="subscribe-section">

            <!-- subscribe-section-overlayer -->
            <div id="subscribe-section-overlayer">


            </div><!-- /subscribe-section-overlayer -->

        </div><!-- /subscribe-section -->


        <!-- =========================================
        Contact Section
        ========================================== -->
        <!-- contact-section -->
        <div id="contact-section">

            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- col-md-12 -->
                    <div class="col-md-10 col-md-offset-1 wow fadeInDown" data-wow-duration="1.5s">

                        <!-- section-title -->
                        <div class="contact-section-title wow">
                            contact us
                        </div><!-- /section-title -->

                    </div><!-- /col-md-12 -->


                    <!-- col-md-12 -->
                    <div class="col-md-10 col-md-offset-1 wow pulse" data-wow-duration="1.5s">
                        <!-- row -->
                        <div class="row">


                            <!-- form -->
                            <form role="form" id="contactform" method="post" action="javascript:nestocontact();">


                                <!-- col-md-4 -->
                                <div class="col-md-4">

                                    <!-- Contact Name -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" name="username" id="name">
                                    </div><!-- /Contact Name -->

                                </div><!-- /col-md-4 -->

                                <!-- col-md-4 -->
                                <div class="col-md-4">

                                    <!-- Contact Email -->
                                    <div class="form-group">
                                        <input type="text" class="form-control email" placeholder="Email" name="useremail" id="email">
                                    </div><!-- /Contact Email -->

                                </div><!-- /col-md-4 -->

                                <!-- col-md-4 -->
                                <div class="col-md-3">

                                    <!-- Contact Subject -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Subject" name="usersubject" id="subject">
                                    </div><!-- /Contact Subject -->

                                </div><!-- /col-md-4 -->


                                <!-- col-md-12 -->
                                <div class="col-md-11">

                                    <!-- Contact Message -->
                                    <div class="form-group">
                                        <textarea rows="10" class="form-control" placeholder="Message" name="usermessage" id="message"></textarea>
                                    </div><!-- /Contact Message -->

                                </div><!-- /col-md-12 -->


                                <!-- col-md-12 -->
                                <div class="col-md-10">
                                    <!-- Submit Button -->
                                    <button type="submit" id="nesto-submit" class="btn btn-lg btn-nesto-o">
                                        Send Now
                                    </button>
                                </div><!-- /col-md-12 -->


                                <!-- col-md-12 -->
                                <div class="col-md-10 col-md-offset 1">
                                    <!-- form-message -->
                                    <div class="form-message"></div>
                                </div><!-- /col-md-12 -->


                            </form><!-- /form -->


                        </div><!-- /row -->
                    </div><!-- /col-md-12 -->


                </div><!-- /row -->
            </div><!-- /container -->

        </div><!-- /contact-section -->

        <!-- =========================================
        Footer Section
        ========================================== -->
        <!-- footer-section -->
        <div id="footer-section">

            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- col-lg-6 col-md-12 -->
                    <div class="col-lg-6 col-md-12">
                        <div class="copyright">
                            ©2015 AVMA PLIT. All Rights Reserved.
                        </div>
                    </div><!-- /col-lg-6 col-md-12 -->


                    <!-- col-lg-6 col-md-12 -->
                    <div class="col-lg-6 col-md-12">

                        <!-- social-icons -->
                        <!-- <div class="social-icons">

                            <a href="#" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        

                        </div> --><!-- /social-icons -->

                    </div><!-- /col-lg-6 col-md-12 -->


                </div><!-- /row -->
            </div><!-- /container -->
            <!-- Return to Top -->
                <a href="javascript:" id="return-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>
                <a data-scroll href="#brand-section" id="scroll-down"><i class="glyphicon glyphicon-chevron-down"></i></a>

        </div><!-- /footer-section -->


>
                                            our brand story
                                        </a>

        <!-- =========================================
        java script
        ========================================== -->
        <script type="text/javascript" src="js/vendor/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/plugins/jquery.placeholder.js"></script>
        <script type="text/javascript" src="js/plugins/smoothscroll/smooth-scroll.min.js"></script>
        <script type="text/javascript" src="js/plugins/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/plugins/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="js/plugins/jquery.countTo.js"></script>
        <script type="text/javascript" src="js/plugins/waypoints/waypoints.min.js"></script>
        <script type="text/javascript" src="js/plugins/progress.js"></script>
        <script type="text/javascript" src="js/plugins/fancybox/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="js/plugins/fancybox/helpers/jquery.fancybox-media.js"></script>
        <script type="text/javascript" src="js/plugins/ajaxchimp/jquery.ajaxchimp.min.js"></script>
        <script type="text/javascript" src="js/plugins/wow/wow.min.js"></script>
        <script type="text/javascript" src="js/plugins/okvideo/okvideo.min.js"></script>
        <script type="text/javascript" src="php/contact-form/js/jquery.contact.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="js/PaperPlane.js"></script>


        <!--[if lt IE 9]>
            <script src="js/plugins/html5shiv.js"></script>
            <script src="js/plugins/selectivizr.js"></script>
        <![endif]-->




    </body><!-- /body -->
</html><!-- /html -->